<!doctype html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>weather getter</title>

        <link rel="stylesheet" href="dui/css/dynamic-style.css" type="text/css">
        <!-- TODO: Verify if sheets are in order -->
                        <link rel="stylesheet" href="/css/style.css" type="text/css">
        </head>
<body class="flat-style">
        <div class="display-table">
                <div class="display-content ">
                        <div class="container text-center">
                                <h2> How is the <span class="highlight-color">Weather</span>?</h2>
                                <div class="row mt-5 pr-3">
                                           <div class="form-item col-10">
           <div class="form-group">
                   <input id='location'  placeholder='Location'  type="text" class="form-control">
           </div>
   </div>                                          <div class='button-border  float-right col-2'>
          <a href='javascript:;' class='button' id='checkBtn' >Check<i class="fas fa-search ml-2"></i></a>
  </div>                                </div>
                                <div class="box-border mt-3">
                                        <h6 id="location-output">-</h6>
                                        <div class="row mt-5    ">
                                                <div class="col-4  my-auto">
                                                        <img src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png" alt="Weather icon">
                                                        <p id="description" class="highlight-color">-</p>
                                                </div>
                                                <div class="col-4 my-auto">
                                                        <p id="temperature" class="m-0"> <span id="temperature">- &deg;C</span></p>
                                                </div>
                                                <div class="col-4 my-auto weather-info">
                                                        <p>Wind: <span id="wind">-</span> kmph</p>
                                                        <p>Precip: <span id="precip">-</span> mm</p>
                                                        <p>Pressure: <span id="pressure">-</span> mb</p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <script src="/src/main.js" type="module"></script>
        <script async src="dui/js/main.js" type="module"></script>
</body>

</html>