<!doctype html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>weather getter</title>

        <link rel="stylesheet" href="dui/css/dynamic-style.css" type="text/css">
        <!-- TODO: Verify if sheets are in order -->
                        <link rel="stylesheet" href="/projects/weather-getter/public/css/style.css" type="text/css">
        </head>
<body class="flat-style">
        <div class="display-table">
                <div class="display-content ">
                        <div class="container text-center">
                                <div class="title-bar wrapper">
        <div class="title-bar-text-wrapper scalable">Weather Checker</div>
        <div class="title-bar-text scalable">Weather Checker</div>
        <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Restore"></button>
                <button aria-label="Close"></button>
        </div>
</div>                                <h2> How is the <span class="highlight-color">Weather</span>?</h2>
                                <div class="mt-5 d-flex justify-content-center flex-row">
                           <div class="form-item wrapper col-10 pr-2 pl-0 my-auto">
           <div class="form-group">
                   <input id='location'  placeholder='Location'  type="text" class="form-control " >
           </div>
   </div>                          <div class='button-border wrapper col-2 my-auto'>
          <a href='javascript:;' class='button ' id='checkBtn' >Check<i class="fas fa-search ml-2"></i></a>
  </div>        </div>                                <div class="box-border mt-3">
                                        <h6 id="location-output">Wroclaw - Poland</h6>
                                        <div class="row mt-5    ">
                                                <div class="col-4  my-auto">
                                                        <img src="https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png" alt="weather icon">
                                                        <p id="description" class="highlight-color"><b>Sunny</b></p>
                                                </div>
                                                <div class="col-4 my-auto">
                                                        <p class="scalable" id="temperature" class="m-0"> <span id="temperature">15 &deg;C</span></p>
                                                </div>
                                                <div class="col-4 my-auto weather-info">
                                                        <p>Wind: <span id="wind">8</span> kmph</p>
                                                        <p>Precip: <span id="precip">0</span> mm</p>
                                                        <p>Pressure: <span id="pressure">969</span> mb</p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <script src="/projects/weather-getter/public/src/main.js" type="module"></script>
        <script async src="dui/js/main.js" type="module"></script>
</body>

</html>