:root {
        --container-max-width: 600px;
}

.display-content > .container {
        max-width: var(--container-max-width);
}

.title-bar {
        display: none;
}

#temperature {
        font-size: 3.5rem;
}

input#location {
        height: 51px;
}

.weather-info {
        font-style: italic;
}

p {
        margin: 7px 0;
}
